.navbar {
  color: #fff;
  height: 50px;
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 1.2em;
  display: flex;
  width: 140px;
  justify-content: space-between;
  align-items: center;
}

.logo p {
  font-family: "Rock Salt", cursive;
  font-size: 0.7em;
}
